Node-Red/ESP8266_Node-Red.txt
[{"id":"4e792ace.0c0c04","type":"tab","label":"ESP8266 MQTT"},{"id":"8e579d8.f47136","type":"mqtt out","z":"4e792ace.0c0c04","name":"","topic":"servo","qos":"1","retain":"false","broker":"78975b76.6ffa84","x":667.4999694824219,"y":629.0001831054688,"wires":[]},{"id":"e8175ce9.713d8","type":"ui_button","z":"4e792ace.0c0c04","name":"","group":"1e5c02d5.fe327d","order":1,"width":0,"height":0,"label":"Min  0%","color":"black","icon":"","payload":"0","payloadType":"num","topic":"","x":294.5,"y":630.6667175292969,"wires":[["d8737d22.02711"]]},{"id":"41c8bdd8.6b8794","type":"ui_slider","z":"4e792ace.0c0c04","name":"","label":"Servo","group":"1e5c02d5.fe327d","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":291.5,"y":778.6666870117188,"wires":[["d8737d22.02711"]]},{"id":"af9e757e.03aff8","type":"ui_gauge","z":"4e792ace.0c0c04","name":"","group":"1e5c02d5.fe327d","order":5,"width":0,"height":0,"gtype":"donut","title":"Servo position ","label":"position ","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":675.4999694824219,"y":698.6666870117188,"wires":[]},{"id":"caeb961a.6fccf8","type":"ui_button","z":"4e792ace.0c0c04","name":"","group":"1e5c02d5.fe327d","order":3,"width":0,"height":0,"label":"Max 100%","color":"black","icon":"","payload":"100","payloadType":"num","topic":"","x":296.5,"y":719.3333740234375,"wires":[["d8737d22.02711"]]},{"id":"d8737d22.02711","type":"function","z":"4e792ace.0c0c04","name":"node","func":"\nreturn msg;","outputs":1,"noerr":0,"x":482.5000305175781,"y":664.3333435058594,"wires":[["8e579d8.f47136","af9e757e.03aff8","b94768f4.e32a08"]]},{"id":"b94768f4.e32a08","type":"link out","z":"4e792ace.0c0c04","name":"slider","links":["bfd0cb97.8e44f8"],"x":638.4999694824219,"y":780.3333129882812,"wires":[]},{"id":"bfd0cb97.8e44f8","type":"link in","z":"4e792ace.0c0c04","name":"","links":["b94768f4.e32a08"],"x":194.19230461120605,"y":840.7436332702637,"wires":[["41c8bdd8.6b8794"]]},{"id":"930443ff.66064","type":"ui_button","z":"4e792ace.0c0c04","name":"","group":"1e5c02d5.fe327d","order":2,"width":0,"height":0,"label":"50%","color":"black","icon":"","payload":"50","payloadType":"num","topic":"","x":285.5,"y":672.6666870117188,"wires":[["d8737d22.02711"]]},{"id":"7e25c2d5.f0476c","type":"comment","z":"4e792ace.0c0c04","name":"ESP8266 MQTT Control Servo","info":"","x":359.5,"y":559.6666870117188,"wires":[]},{"id":"78975b76.6ffa84","type":"mqtt-broker","z":"","broker":"192.168.0.19","port":"1883","clientid":"TEST","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1e5c02d5.fe327d","type":"ui_group","z":"","name":"Servo Control","tab":"e0a394f8.695aa8","order":2,"disp":true,"width":"6"},{"id":"e0a394f8.695aa8","type":"ui_tab","z":"","name":"ESP8266","icon":"dashboard","order":2}]